body {
    background-color: #be3c50;
    font: 300 18px/1.6 'Paytone One', sans-serif;
    margin: 0;
    padding: 2em 0 2em;
    text-align: center;
    color: #be3c50;
  }

  h2 {
    font-weight: 300;
    margin: 0;
    margin-bottom: 5vh;
  }

  .calculator {
    font-size: 28px;
    margin: auto;
    width: 10em;
  }


  calculator::before, calculator::after {
    content: " ";
    display: table;
  }

  calculator::after  {
    clear: both;
} 


  .broken {
    animation: broken 2s;
    transform: translate3d(0, -2000px, 0);
    opacity: 0;
  }

  .viewer {
    line-height: 3em;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 9.5em;
    height: 3em;
    border-radius: 12px;
    background: #ecd0d4;
    box-shadow: inset 10px 10px 19px #b8a2a5, 
                inset -10px -10px 19px #fffeff;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    border: 0;
    border-radius: 12px;
    background: linear-gradient(145deg, #b83d50, #9b3344);
    box-shadow:  4px 4px 8px #862c3b, 
             -4px -4px 8px #d2465c;
    color: rgb(200, 255, 225);
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    height: 2em;
    transition: all 0.5s;
  }

  #equals {
    width: 9.5em;
  }